<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>beer-web</display-name>
  <servlet>
    <servlet-name>beerSelectJsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/beerSelect.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>beerSelectJsp</servlet-name>
    <url-pattern>/beerselection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downupJsp</servlet-name>
    <jsp-file>/WEB-INF/JSP/downupload.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>downupJsp</servlet-name>
    <url-pattern>/downup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BeerSelect</servlet-name>
    <servlet-class>com.example.khaled.BeerSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeerSelect</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.example.khaled.download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<exception-type>javax.servlet.ServletException</exception-type>
  	<location>/handleException</location>
  </error-page>
  
  <context-param>
    <param-name>developerEmailAddress</param-name>
    <param-value>khaled-elzein@hotmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpuplfiles</param-value>
  </context-param>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.example.khaled.servlet.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.example.khaled.servlet.listener.MySessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.example.khaled.servlet.listener.FileLocationContextListener</listener-class>
  </listener>
</web-app>